.app {
  width: 500px;
  margin: 20px auto;
  border: 1px solid #b0b6bb;
  border-radius: 3px;
}

#list-box {
  height: 350px;
  overflow-y: scroll;
}

.star-orange {
  color: orange;
}

#search-box {
  border: none;
  border-bottom: 1px solid #b0b6bb;
}

.list {
  margin: 20px 25px;
}

#spinner {
  margin: 100px 0 0 225px;
}
